# Build results
bin/
obj/
out/
Debug/
Release/

# VS Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log
*Logs

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
*.dll
*.exe

# Others
*.dbmdl
*.bak
*.mdf
*.ldf

# Publish outputs
publish/
wwwroot/dist/
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# ASP.NET Core
appsettings.Development.json
appsettings.*.json

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini
