# Build folders
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio cache
.vs/

# Configuration
appsettings.Development.json
secrets.json

# Dependency packages
*.nupkg
*.snupkg

# JetBrains Rider
.idea/
